/*
*CSS for copy to clipboard button
   */
   
.copy a{
  padding: 5px 5px;
  border: none;
  background-color: #694078;
  font-size: 15px;
  color: #f0e6f3;
  text-align: center; 
  text-decoration: none;
}