/*
*CSS for copy to clipboard button
   */
   
a.copy {
  float: right;
  padding: 2px 5px;
  border: none;
  background-color: #694078;
  border-radius: 10px;
  font-size: 11px;
  color: #f0e6f3;
  text-align: center; 
  text-decoration: none;
}