/*
*CSS for copy to clipboard button
   */
   
a.copy {
  float: right !important;
  padding: 5px 5px !important;
  border: none !important;
  background-color: #694078 !important;
  border-radius: 10px;
  font-size: 12px !important;
  color: #f0e6f3 !important;
  text-align: center !important; 
  text-decoration: none !important;
}