/* Style the buttons that are used to open and close the accordion panel */
.tutaccordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .tutaccordion:hover {
  background-color: #ccc;
}

.tutaccordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.tutpanel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.tutcont {
	height = 100px;
	width = 100%;
	padding: 10px 0px;
}
.tuthex {
    display: table-cell;
    float:left;
    border-right:2px solid #000;
    max-width: 150px;
    min-height: 100px;
    max-height: 100px;
    display: table-cell;
	vertical-align: middle;
}
.tuthex img {
	max-width: 100%;
	max-height: 100%;
}
.tutdesc {
    max-width: 100%;
    padding-left: 20px;
    display: table-cell;
    vertical-align: middle;
}



