<div class="call-container">
	<div class="call">
		<h2>We are always looking for new ideas and feedback.</h2>

		We are very keen to discuss ways to innovate teaching in quantitative analysis and are also happy to share our experience in creating and leading Coding Club. Feel free to contact us with any questions or feedback: we would really appreciate your input!

		{% capture link %}
		{{ site.baseurl }}/contact/
		{% endcapture %}
		{% include link-button.html url=link button="Get in touch" %}
	</div>
</div>
