<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We are always looking for new ideas and feedback.</h2>
          <b>
            <p><big>We are very keen to discuss ways to innovate teaching in quantitative analysis and are also happy to
                share our experience in creating and leading Coding Club. Feel free to contact us with any questions or
                feedback: we would really appreciate your input!</big></p>
          </b>
          <a class="btn btn-default btn-call-to-action" href="/contact">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</section>
