<div markdown="1" class="coloursection {% if include.colour == 'tealLight' %}tealLight
{% elsif include.colour == 'tealDark' %}tealDark
{% elsif include.colour == 'heatherLight' %}heatherLight
{% elsif include.colour == 'heatherDark' %}heatherDark
{% elsif include.colour == 'goldLight' %}goldLight
{% elsif include.colour == 'goldDark' %}goldDark
{% elsif include.colour == 'greenLight' %}greenLight
{% elsif include.colour == 'greenDark' %}greenDark
{% elsif include.colour == 'reddishBrown' %}reddishBrown
{% elsif include.colour == 'lightGrey' %}lightGrey
{% elsif include.colour == 'boldOrange' %}boldOrange
{% elsif include.colour == 'beigeYellow' %}beigeYellow
{% elsif include.colour == 'steelBlue' %}steelBlue
{% elsif include.colour == 'purpleDark' %}purpleDark
{% else %}{% endif %}">
    {{ include.content }}
</div>