<footer class="footer">
	<hr>
	<div class="footer-container">
    	<ul class="footer-link-list">
        	<li><a href="{{ site.baseurl }}/tutorials">Tutorials</a></li>
        	<li><a href="{{ site.baseurl }}/team">About Us</a></li>
        	<li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
	    	<li><a href="https://twitter.com/our_codingclub">Follow us on Twitter</a></li>
    	</ul>
    	<div class="footer-text">
			<p>We are happy for people to use and further develop our tutorials - please give credit to Coding Club by linking to <a href="https://ourcodingclub.github.io/">our website</a>. We are also happy to discuss possible collaborations, so get in touch at <b>ourcodingclub(at)gmail.com</b></p>
    		<p>See our <a href="{{ site.baseurl }}/terms">Terms of Use</a> and our <a href="{{ site.baseurl }}/privacy">Data Privacy policy</a>.</p>
		<p>Disclaimer: All Coding Club tutorials are created for teaching purposes. We do our best to maintain the content and to provide updates, but sometimes package updates break the code and not all code works on all operating systems. Please note that how you use our tutorials is ultimately up to you. We do not carry responsibility for whether the tutorial code will work at the time you use the tutorial. We do not carry responsibility for whether the approaches used in the tutorials are appropriate for your own analyses. We encourage users to engage and updating tutorials by using <a href="https://github.com/ourcodingclub/ourcodingclub.github.io" target="_blank">pull requests in GitHub</a>.</p>	
		<p>This work is licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a></p>
			<a href="https://creativecommons.org/licenses/by-sa/4.0/"><img class="license" src="https://licensebuttons.net/l/by-sa/4.0/80x15.png" alt="CC-by-sa-4.0"></a>
    	</div>
    </div>
</footer>

<!-- JS -->
<script src="{{ site.baseurl }}/scripts/owl.carousel.js"></script>
<script src="{{ site.baseurl }}/scripts/owl.carousel-init.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
<script src="{{ site.baseurl }}/scripts/codeselect.js"></script>
<script src="{{ site.baseurl }}/scripts/hide-back.js"></script>
