<div class="survey">
		<h5>Stay up to date and learn about our newest resources by following us on <a href="https://twitter.com/our_codingclub" target = "_blank">Twitter</a>!</h5>	
	{% if page.survey_link %}
		<h5><a href="{{ include.survey_link }}" target="_blank">We would love to hear your feedback, please fill out our survey!</a></h5>
	{% endif %}
	<h5>Contact us with any questions on <a href="mailto:ourcodingclub@gmail.com?Subject=Tutorial%20question" target = "_top">ourcodingclub@gmail.com</a></h5>	
    {% assign tags_count = 0 %}
    {% for tutorial in site.tutorials %}
    	{% if tutorial.url != page.url %}
    		{% if tutorial.tags == page.tags %}
    				{% assign tags_count == tags_count | plus: 1 %}
    		{% endif %}
		{% endif %}
	{% endfor %}
	{% if tags_count == 1 %}
	<h3>Related tutorials:</h3>
	{% endif %}
	{% for tutorial in site.tutorials %}
		{% if tutorial.url != page.url %}
    		<ul>
  				{% for tag in tutorial.tags %}
    				{% if page.tags contains tag %}
						<li><a href="{{ tutorial.url }}">{{ tutorial.title }}</a></li>
  					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
	{% endfor %}
</div>
