// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #ebebeb !default;
$boxBackgroundColour: #ebebeb !default;
$calloutBackgroundColour: #66d2ff !default;

// Text colours
$headingColour: #383743 !default;
$bannerNoImageColour: #1f1f1f !default;
$bannerImageColour: #ebebeb !default;
$bodyColour: #384743 !default;
$linkColour: #3c3069 !default;
$hoverColour: #604da8 !default;
$white: #ffffff !default;

