// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #ebebeb !default;
$boxBackgroundColour: #ebebeb !default;

// Text colours
$headingColour: #383743 !default;
$bannerImageColour: #ebebeb !default;
$bodyColour: #384743 !default;
$linkColour: #61247C !default;
$hoverColour: #604da8 !default;
$white: #ffffff !default;

// Callout colours
$calloutColour: #66d2ff !default;
$alertColour: #ff3333 !default;
$importantColour: #ffd633 !default;
