// Text colours
$headingColour: #383743 !default;
$bannerImageColour: #ebebeb !default;
$bodyColour: #384743 !default;
$linkColour: darken(#5fc9cb, 10%) !default;
$hoverColour: desaturate($linkColour, 30%) !default;
$white: #ffffff !default;
$black: #000000 !default;

// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #ebebeb !default;
$boxBackgroundColour: #ebebeb !default;
$darkBoxColour: darken($linkColour, 15%) !default;
$formTextBackgroundColour: #f6f8fa !default;
$greyBorderColour: #eef2f6 !default;

// Callout colours #e4fcff
$calloutColour: #c0ebef !default;
$codeCalloutBackgroundColour: lighten(desaturate($calloutColour, 10%), 10%) !default;
$alertColour: #c08fb2 !default;
$codeAlertBackgroundColour: lighten(desaturate($alertColour, 10%), 10%) !default;
$importantColour: #f9e59b !default;
$codeImportantBackgroundColour: lighten(desaturate($importantColour, 10%), 10%) !default;

// Coloured section potential colours - add as you see fit
$fontLight: #f6f6f6 !default;
$fontDark: #29272c !default;

$tealLight: #98dce7 !default;
$tealDark: #4c6e73 !default;
$goldLight: #efd388 !default;
$goldDark: #cfa73e !default;
$greenLight: #9ac08f !default;
$greenDark: desaturate(#426b44, 10%) !default;
$heatherLight: #acaab5 !default;
$heatherDark: #5a556b !default;
$reddishBrown: #a7633a !default;
$lightGrey: #eef2f3 !default;
$beigeYellow: #dacf9e !default;
$boldOrange: #f8ac59 !default;
$steelBlue: #5b6d87 !default;
$purpleDark: #4e3151 !default;
