body {
	margin: 0;
	padding: 0;
}

// Header
#navigation-container {
	margin: 0 auto;
	width: 70%;
}

#navigation-container label, #hamburger {
  display: none;
}

// Switch to hamburger on small screen 
@media screen and (max-width: 768px){
	#navigation-container label {
		display: inline-block;
		color: $headingColour;
		font-size: 3em;
		border: 1px solid black;
		margin: 20px 50px;
		padding: 0px 5px; 
	}
	
	#navigation-container nav {
		float: right;
	}
	
	/* Break down menu items into vertical */
	#navigation-container ul li {
		display: block;
	}
	
	/* Toggle show/hide menu on checkbox click */
	#navigation-container ul {
		display: none;
	}
	#navigation-container input:checked ~ ul {
		display: block;
	}
}

.navigation-bar img {
	float:left;
	max-width: 100px;
}

.navigation-bar ul {
	text-align: center;
	overflow: hidden;
}

.navigation-bar li {
	display: inline-block;
	margin: 20px 0px;
	padding: 10px 15px;
}

.item-current {
	background-color: $boxBackgroundColour;
	border-radius: 4px;
	list-style-position: inside;
	color: $headingColour;
}

// Footer
.footer {
	background-color: $boxBackgroundColour;
}

.footer-container {
	text-align: center;
	margin: 0 auto;
	width: 70%;
	padding: 20px 0px;
}

.footer-link-list {
	padding: 0px;
}

.footer-link-list li {
	display: inline-block;
	padding: 10px;
}

.footer-text p {
	padding: 10px 0px;
}

.license {
	width: 80px;
	padding: -20px;
}

// Banner
.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-position: cover;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 200px;
}

.banner h1, .banner h3 {
	text-align: center;
	padding: 0px 30px;
	color: $bannerImageColour;
	text-transform: uppercase;
}

.banner h1 {
	font-weight: 600;
}

.banner h3 {
	font-weight: 400;
}

// Main content
.content {
	padding: 30px;
	margin: 0 auto;
	max-width: 85%;
}

.content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	max-height: 500px;
}

.author {
	font-style: italic;
	margin-top: -5px; 

}

// Team page profiles
.team-profile {
	 overflow: auto;
 }

.team-profile p {
	float: left;
	width: 75%;
}

.team-profile img {
	float: right;
	width: 20%;
}

// Tutorials page
// Style accordion
#accordion h3 {
	background-color: $headingColour !important;
	color: $white !important;
}

#accordion h3:hover, #accordion .ui-state-active {
	background-color: $white !important;
	border: 1px solid $headingColour !important;
	color: $headingColour !important;
}

.tutpanel{
  background-color: none;
}

.tutcont {
	padding: 10px 0px;
}

.tuthex {
    width: 150px;

}

.tuthex img {
	float: left;
	width: 100%;
	height: 100%;
}

.tutdesc {
    padding-left: 15px;
    overflow: auto;
}

#accordion .ui-accordion-header {
	background-color: #eee;
	padding: 5px;
	text-align: center;
}

//Contact form
.form-group {
	margin: 10px 0px;
	text-align: center;
}

.form-group input {
	width: 100%;
	background: #F6F8FA;
	height: 60px;
	border: 1px solid #EEF2F6;
	box-shadow: none;
	margin: 10px 0px;
	border-radius: 8px;
	padding: 0px 5px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.form-group textarea {
	background: #F6F8FA;
	height: 135px;
	border: 1px solid #EEF2F6;
	box-shadow: none;
	width: 100%;
	max-width: 100%;
	border-radius: 8px;
	padding: 5px 5px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.form-group button {
	width: 100%;
	height: 60px;
	background-color: $linkColour;
	border: none;
	color: $white;
	font-size: 18px;
	margin: 10px 0px;
	border-radius: 8px;
}

.form-group button:hover {
	background-color: $white; 
	color: $hoverColour;
	border: 1px solid $hoverColour;;
}

// Carousels
.owl-carousel-wrapper {
	width: 60%;
	margin: 0 auto;
}

.owl-carousel {
	border:1px solid black;
	padding: 10px;
}

.owl-carousel-quote {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}

.owl-carousel-quote img {
	max-width: 50px;
	border-radius: 50%;
	margin: 10px auto;
}

.owl-carousel-img {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}

.owl-carousel-img img {
	max-width: 80%;
	height: auto;
}

.owl-nav {
	text-align: center;
	font-size: 25pt;
}

.owl-nav button {
	display: inline-block;
}

.owl-nav i {
	padding: 15px 50px;
}

// Links table
.links {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.links td {
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	width: 50%;
	
}

// Survey inclusion
.survey {
	border-width: 1px;
	border-style: solid;
	background-color: $boxBackgroundColour;
	margin: 30px 0px;
	padding: 20px;
}

// Tickers

.count, .values {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}

.count-list span, .values span {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.count li, .values li {
  list-style: none;
  display: inline-block;
  text-align: center;	
  vertical-align: top; 
  width: 20%;
}

.count i, .values i {
	font-size: 40pt;
	colour: $headingColour;
	padding: 10px;
}

.counter, .counter-desc {
	font-size: 20px;
}

// Values ticker specific

.values-title {
	font-size: 12pt;
	padding: 10px 0px;
}

.values-desc {
	font-size: 8pt;
}

// Callout box
.callout {
    padding: 5px 20px;
    border-radius: 10px;
    background-color: $calloutBackgroundColour;
}

h1, h2, h3, h4, h5, h6 {
    &.callout {
    	margin-top: 0;
    }
}

// Reveal answer button
.reveal {
	background-color: $linkColour; 
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;border: none;
  	white-space:nowrap;
    display:inline-block;
    margin: 10px;
    min-width: 20%;
}

.reveal-container {
	display: block 
}

// Figure with caption
.figure {
	text-align: center;
	padding-top: 5px;
}

// Copy code button
.copy-button {
  webkit-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
  opacity: 0.75;
  margin: 5px;
  border: none;
  background-color: $linkColour;
  border-radius: 5px;
  color: $white;
  float: right;
  width: 150px;
  padding: 5px 10px;
  font-size: 1em;
}

// Increase opacity on hover of code chunk
div.highlight:hover .copy-button:hover, div.highlight .copy-button:focus {
    opacity: 1;
}

// Course intro stream img container
.stream-container {
	width: 100%;
	text-align: center;
}

.stream-container img {
	display: inline-block;
	width: 350px;
}

// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }

